.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 20%;
    padding: 0 12px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    filter: grayscale(100%);
    transition: 1s;
}

.column img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
.vertical {
    width: 375px;
    height: 562.5px;
    padding: 12px;
}

.landscape {
    width: 375px;
    height: 250px;
    padding: 12px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .column {
        flex: 50%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}