body, html {
    height: 100%;
}

h1 {
    color: white;
    text-align: center;
    
}
  
.bg { 
    background-image: url("http://oi68.tinypic.com/rtf6gg.jpg");
  
    height: 100%; 
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}